.form {
    margin-top: 36px;
    text-align: center;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    padding: 0 16px;
}

.form-input:hover {
    border: 1px solid #000;
}

.form-input:focus,
.form-input:active {
    border: 1px solid #4e75ff;
}

.form-input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
}

.form-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-left: 8px;
}

.form-btn:hover {
    background: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1128px;
    margin: 0 auto;
    margin-top: 32px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;
}

.container {
    height: 152px;
    overflow: hidden;
}

.description {
    display: flex;
    margin-top: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.loader {
    position: relative;
    width: 130px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0277bd, #0277bd),
        linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
    background-size: 80px 70px, 30px 50px, 30px 30px;
    background-position: 0 0, 80px 20px, 100px 40px;
    margin: 0 auto;
    margin-top: 20px;
}

.loader:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    box-sizing: content-box;
    border: 10px solid #000;
    box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
    animation: wheelSk 0.75s ease-in infinite alternate;
}

.loader:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    height: 70px;
    width: 70px;
    background-image: linear-gradient(#fff 45px, transparent 0),
        linear-gradient(#fff 45px, transparent 0),
        linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px, 8px 35px, 0px 60px;
    animation: lineDropping 0.75s linear infinite;
}

@keyframes wheelSk {

    0%,
    50%,
    100% {
        transform: translatey(0)
    }

    30%,
    90% {
        transform: translatey(-3px)
    }
}

@keyframes lineDropping {
    0% {
        background-position: 100px 11px, 115px 35px, 105px 60px;
        opacity: 1;
    }

    50% {
        background-position: 0px 11px, 20px 35px, 5px 60px
    }

    60% {
        background-position: -30px 11px, 0px 35px, -10px 60px
    }

    75%,
    100% {
        background-position: -30px 11px, -30px 35px, -30px 60px;
        opacity: 0;
    }
}